# Build outputs, caches
.fallow/
.output/
.data/
.nuxt/
.nitro/
.cache/
.sanity/
dist/

# Node dependencies
node_modules/

# Logs
logs/
*.log

# Misc
.DS_Store
.fleet
.idea
*.tsbuildinfo

# Local env files
.env
.env.*
!.env.example

# Other
.claude/
website/scripts/
.fallowrc.jsonc

# Local Netlify folder
.netlify
